---
layout: page
title: Icreated Blog History
shortName: history
---

<div class="container">
  <div class="history">
    {% for post in site.posts %}
      {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentyear != year %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h1>{{ currentyear }}</h1>
        <ul>
            {% capture year %}{{currentyear}}{% endcapture %}
      {% endif %}
          <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
    {% endfor %}
        <ul>
  </div>
</div>