<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>{{ site.name }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
  
    <body>
        <header>
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>

            <div class="navbar">
                <ul>
                    <li><a href="{{ site.url }}/">/blog</a></li>
                    <li><a href="{{ site.url }}/projects">/projects</a></li>
                    <li><a href="{{ site.url }}/history">/history</a></li>
                    <li><a href="{{ site.url }}/about">/about</a></li>
                </ul>
            </div>


      </div>
    </header>


  
